body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    background: url(src/islamic\ pattern1.png);
    overflow-x: hidden; 
}

header {
    background-color: #e7e9e6;
    color: black;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin: 0;
    font-size: 20px; 
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin: 0;
    font-size:40px; 
}

nav {
    display: flex;
}

.nav-box {
    background-color: transparent;
    padding: 15px;
    border: 1px solid #000;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s; 
}

.nav-box:hover {
    background-color: #DFCA93;
}

nav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: black;
    text-decoration: none;
    font-size: 20px; 
    justify-items: center;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.p1{
    color: black;
    font-size: 50px; 
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    margin-top: 60px;
}

.column {
    flex: 1;
    padding: 10px;
}

.map-column {
    padding-right: 20px; 
}

.facilities-images img {
    margin-right: 10px; 
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.centered-image {
    display: block;
    margin: 0 auto;
}

.facilities-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facilities-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facility {
    text-align: center;
    margin-right: 20px; 
    margin-bottom: 20px; 
}

.caption {
    font-size: 30px; 
    margin-top: 30px;
}

map {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    
}

.map iframe {
    padding-left: 400px;
    border: 0;
}

footer {
    margin-top:200px;
    background-color: #13103e;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px; 
    padding-bottom: 50px;

}
.logo{
    padding-left: 30px;
}
.logo img {
    height: 200px;
    width: auto;
}

.logo h1 {
    margin-left: 0;
    color: #ffffff;
    font-size: 30px; 
    text-align: justify;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.logo h2 {
    font-size: 15px;
    font-weight: 100;
    color: #ffffff;
}

.address, .contact {
    width: 50%;
}

.address{
    margin-left: 50px;
}

.address h3, .contact h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.address p, .contact p {
    font-size: 15px;
    font-weight: 100;
}
#scrollUpBtn {
    display:block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#scrollUpBtn:hover {
    background-color: #0056b3;
}

.social-media {
    margin-top: 70px;
}

.social-link {
    display: inline-block;
    margin-right: 10px;
}

.social-link img {
    width: 30px; /* Adjust the size of social media icons */
    height: auto;
}
.social-link:hover{
    transform: scale(0.9);
}
